<ion-header>
	<ion-toolbar>
		<ion-title>Beds</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col *ngFor="let bed of beds" [routerLink]="['/beds', bed.bedId]" style="padding: 2px;" size="3"
				size-md="2">
				<div class="bed-tile"
					[ngClass]="{'bed-ok' : bed.status == 0, 'bed-warning' : bed.status == 1, 'bed-danger' : bed.status == 2, 'bed-nopatient' : !bed.patientId}">
					<div class="bed-tile-content">
						<div class="bed-tile-number">{{bed.bedNo}}</div>
						<div class="bed-tile-name">{{bed.name}}</div>
						<div class="bed-tile-name">{{bed.patientId}}</div>
					</div>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>