:host {
	--ion-color-step-850: white !important;
	--ion-color-step-550: white !important;
}
.bed-data-grid {
	.table-header {
		font-size: 1.2em;
		font-weight: bold;
	}

	ion-row {
		.param-label {
			font-size: 2em;
			font-weight: bold;
		}

		.param-measured,
		.param-threshold {
			font-size: xx-large;
			padding: 2px;
			line-height: 1;
			.secondary {
				font-size: 0.8em;
			}
		}
		border-bottom: 1px solid white;
	}
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}
@-webkit-keyframes blink {
	50% {
		opacity: 0;
	}
}
.blink {
	@mixin blink($rate) {
		animation: blink $rate step-start 0s infinite;
		-webkit-animation: blink $rate step-start 0s infinite;
	}
	@include blink(1s);
	&-fast {
		@include blink(0.5s);
	}
}
